/* styles-login.css */

body {
    background-image: url('../static/starry-sky.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    text-align: left; /* 添加此样式以使文字靠左对齐 */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
